.feature-container {
  margin: 30px;
  max-width: 60vw;
  display: block;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.feature-container h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 50px;
}

.feature-image {
  width: 100%;
  height: auto;
}
.feature-container iframe {
  width: 90vw;
  height: 100vh !important;
  margin-left: -15vw;
}

.feature-pysty-container {
  float: right;
  width: 31vw;
  margin: 30px;
  display: flex;
  justify-content: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-pysty-container span {
  display: flex;
  justify-content: center;
}

.feature-pysty-container span img {
  max-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: auto;
}

.feature-vaaka-container {
  height: auto;
  position: relative;
  left: -15vw;
  width: 90vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wp-caption {
  max-width: 100%;
  text-align: center;
}

.feature-image-caption {
  font-size: smaller;
  text-align: center;
}
