.info-container {
  width: 100%;
  max-width: 700px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.info-container img {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-links {
  display: flex;
  font-size: 13px;
  /* max-width: 500px; */
  justify-content: flex-start;
  text-transform: uppercase;
  margin-bottom: 30px;
  /* flex-direction: column; */
  flex-wrap: wrap;
  text-decoration: underline;
}

.info-links h3 {
  margin-right: 10px;
  cursor: pointer;
  margin: 10px;
}

.info-container h2 {
  text-align: center;
}

.info-links a {
  text-decoration: none;
}

.info-links a:hover {
  color: gray;
}
