.info-container {
  width: 100%;
  max-width: 50vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.info-container img {
  height: auto;
  position: relative;
  left: -10vw;
  width: 70vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-links {
  display: flex;
  width: 100%;
  justify-content: center;
  text-transform: uppercase;
}

.info-links h3 {
  margin-right: 10px;
  cursor: pointer;
}

.info-container h2 {
  text-align: center;
}

.info-links a {
  text-decoration: none;
}

.info-links a:hover {
  color: gray;
}
