.info-container {
  width: 100%;
  max-width: 50vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.info-links {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.info-links h3 {
  margin-right: 10px;
  cursor: pointer;
}

.info-links a {
  text-decoration: none;
}

.info-links a:hover {
  color: gray;
}
