.contact-info {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 10px;
    transform: translateY(-20px); 
}

.contact-info p {
    margin: 0;
}

.contact-info a {
    font-weight: normal
}