@import url("https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One");
.timeline {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 700px;
    position: relative;
}

.timeline-debugger {
    position: fixed;
    height: 1px;
    background: red;
    width: 100%;
    top: 50%;
}

.timeline__content-title {
    font-weight: normal;
    font-size: 66px;
    margin: 0px 0 0 0;
    transition: .4s;
    box-sizing: border-box;
    color: #fff;
}

.timeline__content-desc {
    margin: 0;
    font-size: 20px;
    box-sizing: border-box;
    font-weight: normal;
    line-height: 25px;
}

.timeline:before {
    position: absolute;
    left: 50%;
    width: 1px;
    height: calc(100% - 250px);
    margin-left: -1px;
    content: "";
    background: #efa9ef;
    margin-top: 250px;

}

@media only screen and (max-width: 767px) {
    .timeline:before {
        left: 40px;
    }
}

.timeline-item {
    padding: 40px 0;
    opacity: .3;
    filter: blur(2px);
    transition: .5s;
    box-sizing: border-box;
    width: calc(50% - 40px);
    display: flex;
    position: relative;
    transform: translateY(-80px);
}

.timeline-item:before {
    content: attr(data-text);
    letter-spacing: 3px;
    width: 100%;
    position: absolute;
    font-size: 13px;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    top: 70%;
    margin-top: -5px;
    padding-left: 20px;
    opacity: 0;
    right: calc(-100% - 56px);
}

.timeline-item:nth-child(even) {
    align-self: flex-end;
}

.timeline-item:nth-child(even):before {
    right: auto;
    text-align: right;
    left: calc(-100% - 100px);
    padding-left: 0;
    border-left: none;
    border-right: 0px solid rgba(255, 255, 255, 0.5);
    padding-right: 15px;
}

.timeline-item--active {
    opacity: 1;
    filter: blur(0px);
}

.timeline-item--active:before {
    top: 50%;
    transition: .3s all .2s;
    opacity: 1;
}

.timeline-item--active .timeline__content-title {
    margin: 0px 0 0px 0;
    color: #efa9ef;
}

@media only screen and (max-width: 767px) {
    .timeline-item {
        align-self: baseline !important;
        width: 100%;
        padding: 0 30px 150px 80px;
    }
    .timeline-item:before {
        left: 10px !important;
        padding: 0 !important;
        top: 50px;
        text-align: center !important;
        width: 60px;
        border: none !important;
    }
    .timeline-item:last-child {
        padding-bottom: 40px;
    }
}

.timeline__img {
    max-width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.timeline-container {
    width: 100%;
    position: relative;
    padding: 80px 0;
    transition: .3s ease 0s;
    background-attachment: fixed;
    background-size: cover;
}

.timeline-container:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    content: "";
}

.timeline-header {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    padding-left: 0;
}

.timeline-header__title {
    color: #fff;
    font-size: 56px;
    font-weight: normal;
    margin: 0;
}

.timeline-header__subtitle {
    font-size: 26px;
    letter-spacing: 5px;
    margin: 10px 0 0 0;
    font-weight: normal;
    color: #efa9ef;
}
