.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 700px;
  position: relative;
  padding: 10px;
}

.timeline__date {
  font-weight: normal;
  font-size: 66px;
  margin: 0px 0 0 0;
  transition: 0.4s;
  box-sizing: border-box;
  color: #000;
}

.timeline__desc {
  margin: 0;
  font-size: 20px;
  box-sizing: border-box;
  font-weight: normal;
  line-height: 25px;
  margin-top: 5px;
}

.timeline__text {
  margin: 0;
  max-width: 300px;
  font-size: 1em;
  box-sizing: border-box;
  font-weight: normal;
  line-height: 25px;
  margin-top: 5px;
}

.timeline__text iframe,
.timeline__text img {
  max-width: 90%;
  padding: 10px;
  border: 1px solid #7e6c86;
  height: auto;
}

.timeline:before {
  position: absolute;
  left: 50%;
  width: 1px;
  height: calc(100%);
  margin-left: -1px;
  content: '';
  background: #7e6c86;
}

@media only screen and (max-width: 767px) {
  .timeline:before {
    left: 40px;
  }
}

.timeline-item {
  padding: 5px 0;
  transition: 0.5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
}

.timeline-item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  font-size: 13px;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  top: 70%;
  margin-top: -5px;
  padding-left: 20px;
  opacity: 0;
  right: calc(-100% - 56px);
}

.timeline-item:nth-of-type(even) {
  align-self: flex-end;
}

.timeline-item:nth-child(even):before {
  right: auto;
  text-align: right;
  left: calc(-100% - 100px);
  padding-left: 0;
  border-left: none;
  border-right: 0px solid rgba(255, 255, 255, 0.5);
  padding-right: 15px;
}

@media only screen and (max-width: 767px) {
  .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 60px 60px;
  }
  .timeline-item:before {
    left: 10px !important;
    padding: 0 !important;
    top: 50px;
    text-align: center !important;
    width: 60px;
    border: none !important;
  }
  .timeline-item:last-child {
    padding-bottom: 40px;
  }
}

.timeline__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
  border: 5px solid #7e6c86;
}

.timeline-container {
  width: 100%;
  position: relative;
  transition: 0.3s ease 0s;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 80px;
}

.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
}

.timeline-subheader {
  background: #fff8e7;
  width: 100%;
  text-align: center;
  position: relative;
  padding-left: 0;
  padding-top: 25px;
}

.timeline-subheader {
  padding-top: 0;
}

.timeline-header {
  background: #fff8e7;
  width: 100%;
  text-align: center;
  position: relative;
  padding-left: 0;
}
